# Java
*.class
*.jar
*.war
*.ear
target/
build/

# IDE
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
bullying_env/

# Jupyter
.ipynb_checkpoints/
